# Specify filepatterns you want git to ignore.
Microsoft/**
Postman/**
coc/**
direnv/**
discord/**
evolution/**
gcloud/**
libreoffice/**
nvim/plugged/**
spotify/**
google-chrome/**
gnome-control-center/**
menus/**
pulse/**
transmission/**
teams/**
sublime-merge/**
Code/**
vlc/**
chromium/**
oh-my-zsh/**
tags
monitors.xml
BraveSoftware/**
GIMP/**
